/* Embedded Fonts */

@font-face {
    font-family: text;
    src: url(../fonts/sourcesansprosemibold.otf);
}

@font-face {
    font-family: text;
    src: url(../fonts/sourcesansprobold);
}




/* Container Items */

html,body {
	height: 100%;
    width: 100%;
}

#cover {
    width: 100%;
    height: 100%;
    background: url("../images/cover.jpg") no-repeat center;
    -webkit-background-size: cover;
}

#container {
    position: absolute;
    top:625px;
    left: 850px;

}



/* Paragraph Styles */

.title {
    font-family: text;
    font-size: 7em;
    color: gray;
    /*padding-left: 50px;*/
    /*padding-top: 50px;*/
    width: 45%;
    line-height: 1.1em;
    position: absolute;
    top:600px;
    left: 70px;

}

.author {

}


.text {
    font-family: text;
    width: 650px;
    font-size: 1.2em;
    color: black;
    line-height: 1.3em;
    letter-spacing: em;
    word-spacing: em;
    text-align: left;
    text-indent: em;
}

.italic {
	font-style: italic;
}